<template name="product_search">
    <div>
        <span>
            <span>code: </span>
            <input type="text" name="code$eq" class="string" value={{doc 'code$eq'}}>
            <span>name: </span>
            <input type="text" name="name$regex" class="string" value={{doc 'name$regex'}}>
            <span>stock: </span>
            <input type="text" name="stock$lte" class="integer" value={{doc 'stock$lte'}}>
        </span>
            {{# if isValid}}
                <a href="#" class="submit">Buscar</a>
            {{/ if}}
    </div>
</template>

<template name="product_list">
    <div>
        <h3>Productos:</h3>
        <table class="table">
            {{# each products}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{stock}}</td>
                    <td><a docId={{_id}} class="edit">edit</a></td>
                </tr>
            {{/ each}}
        </table>
    </div>
</template>

<template name="product_display">
    <div>
        {{#with doc}}
            _id: {{_id}}
        {{/with}}
    </div>
</template>

<template name="new_product">
    <a href="#" class="reset">nuevo producto</a>
</template>

<template name="product_form">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">nombre</div>
                <div class="col-sm-4"><input type="text" class="string form-control" name="name" value="{{doc 'name'}}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">descripción</div>
                <div class="col-sm-4"><textarea class="string form-control" name="description">{{doc 'description'}}</textarea></div>
            </div>
            <div class="row">
                <div class="col-sm-2">código</div>
                <div class="col-sm-4"><input type="text" class="string form-control" name="code" value="{{doc 'code'}}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">precio</div>
                <div class="col-sm-4"><input type="text" class="float form-control" name="price" value="{{doc 'price'}}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">stock</div>
                <div class="col-sm-4"><input type="text" class="integer form-control" name="stock" value="{{doc 'stock'}}"></div>
            </div>
        </div>
        {{# if isValid }}
            <a href="#" class="submit">Guardar</a>
        {{/ if }}
    </div>
</template>

<template name="add_stock">
    <div class="container">
        <div class="row">
            <div class="col-sm-5"><label class="control-label">Introduce cantidad y código</label></div>
            <div class="col-sm-2"><input type="text" class="integer form-control" name="quantity" value="{{doc 'quantity'}}"></div>
            <div class="col-sm-5"><input type="text" id="stock-enter" class="string enter-submit form-control" name="code" value="{{doc 'code'}}"></div>
        </div>
    </div>
</template>

<template name="list_stock_today">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>código</th>
                <th>nombre</th>
                <th>precio</th>
                <th>stock</th>
            </tr>
            </thead>
            {{# each stock_today }}
                <tr><td>{{code}}</td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{stock}}</td>
                    <td><a href="#" class="edit">editar</a></td>
                    <td><a href="#" class="remove">eliminar</a></td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>

